body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 150px;
    height: 150px;
    background-color: white;
    border: 25px solid rgb(245, 228, 230);
    border-radius: 50%;
    border-top: 25px solid black;
    animation: spin 2s linear infinite;

}